# Ignore cache and environments
__pycache__/
*.pyc
*.pyo
*.pyd
.mlenv/
.venv/
env/
venv/
.idea/
.vscode/
.DS_Store
*.log
.env

# Ignore large data and logs
data/*
logs/
*.index
*.npy
*.npz
*.csv
*.txt
*.jsonl

# KEEP these files in the build
!requirements.txt
!Procfile
!Dockerfile
!README.md
!app/
!scripts/
!config/
