streamlit
sentence-transformers
faiss-cpu
numpy
pandas
openai
python-dotenv
PyYAML
beautifulsoup4
requests
fastapi
uvicorn
spacy
pydantic
pydantic-settings
flask
pytest
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8. │
│ 0-py3-none-any.whl                                                                                   